.order-buy-card-delivery-list-box{
    display: none;
}

.ad-paid-services-ads-list{
    padding: 15px;
    border-radius: 15px;
    background-color: #f7f8fa;
    max-height: 700px;
    overflow: auto;
    margin-top: 15px;
}

.ad-paid-services-ads-item{
    display: flex;
    justify-content: space-between;
    padding: 5px;
    border-radius: 15px;    
    color: black;
}

.ad-paid-services-ads-item:not(:last-child){
    margin-bottom: 10px;
}

.ad-paid-services-ads-item:hover{
    background-color: #186aff;
    color: white;
}

.ad-paid-services-ads-item.active{
    background-color: #186aff;
    color: white;
}

.ad-paid-services-ads-item-image{
    height: 40px;
    width: 40px;
    border-radius: 10px;
    margin-right: 15px;
    overflow: hidden;
    flex-shrink: 0;
}

.ad-paid-services-ads-item-title{
    flex-grow: 1;
    font-size: 14px;
    font-weight: 400;
    width: 100%;
}

.ad-paid-services-ads-container p{
    font-size: 18px;
    font-weight: bold;
}

.addon-delivery-history-container-modal{
    margin-top: 30px;
    margin-bottom: 3px;
}